.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
  }
  
  .header-title,
  .header-date {
    font-family: 'Bison', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.045em;
    color: #000000;
  }
  